###### 1. Ściągnij i rozpakuj przy pomocy pythona plik stąd: https://github.com/kpswps/py/raw/master/datasets/college-salaries.zip

In [1]:
import os
import os.path  as op

In [2]:
os.getcwd()

'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS'

In [3]:
mypath = 'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10'

In [4]:
op.exists(mypath)

False

In [5]:
if not op.exists(mypath):
    os.makedirs(mypath)

In [6]:
#sprawdzam
op.exists(mypath)

True

In [7]:
os.chdir(mypath)

In [8]:
os.getcwd()

'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10'

In [9]:
link = 'https://github.com/kpswps/py/raw/master/datasets/college-salaries.zip'

In [10]:
nazwa_zipa = 'college-salaries.zip'

In [11]:
sciezka_do_zipa = op.join(os.getcwd(), nazwa_zipa)

In [12]:
sciezka_do_zipa

'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries.zip'

In [13]:
from urllib.request import urlretrieve
import zipfile

In [14]:
urlretrieve(link, sciezka_do_zipa)

('C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries.zip',
 <http.client.HTTPMessage at 0x24c82f45cf8>)

In [15]:
with zipfile.ZipFile(nazwa_zipa, 'r') as zip_ref:
    zip_ref.extractall()

In [16]:
os.getcwd()

'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10'

In [17]:
os.listdir()

['college-salaries', 'college-salaries.zip', '__MACOSX']

In [18]:
os.listdir('college-salaries')

['.DS_Store',
 'degrees-that-pay-back.csv',
 'hummus.jpg',
 'iranistykaIstopien╠ü_program.xls',
 'mg.jpg',
 'salaries-by-college-type.csv',
 'salaries-by-region.csv']

In [19]:
os.chdir('college-salaries')

In [20]:
os.getcwd()

'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries'

In [21]:
os.listdir()

['.DS_Store',
 'degrees-that-pay-back.csv',
 'hummus.jpg',
 'iranistykaIstopien╠ü_program.xls',
 'mg.jpg',
 'salaries-by-college-type.csv',
 'salaries-by-region.csv']

###### 2. Stwórz listę z pełnymi ścieżkami do plików .csv - zapisz do zmiennej csv_files. Użyj list comprehension

In [59]:
#wszystkie pliki, bez list comprehension
all_files = []
for each in os.listdir():
    all_files.append(each)

In [22]:
#sprawdzam czy działa
all_files = [each for each in os.listdir()]

In [23]:
all_files

['.DS_Store',
 'degrees-that-pay-back.csv',
 'hummus.jpg',
 'iranistykaIstopien╠ü_program.xls',
 'mg.jpg',
 'salaries-by-college-type.csv',
 'salaries-by-region.csv']

In [24]:
 #sprwdzam jak działa .endswith
'degrees-that-pay-back.csv'.endswith(('.csv'))

True

In [25]:
csv_files = [op.join(os.getcwd(), each) for each in os.listdir() if each.endswith(('.csv'))]
csv_files

['C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries\\degrees-that-pay-back.csv',
 'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries\\salaries-by-college-type.csv',
 'C:\\Users\\Wielki Administrator\\Documents\\Python KP SWPS\\zaj_10\\college-salaries\\salaries-by-region.csv']

###### 3. Stwórz przy pomocy dict comprehensions słownik 'dfs' - hasłem niech będzie numer indeksu [0, 1 lub 2], znaczeniem zaś wczytana jedna ramka danych z listy csv_files

In [26]:
import pandas as pd

In [27]:
dfs = {index: pd.read_csv(each) for index, each in enumerate(csv_files)}
dfs

{0:                      Undergraduate Major Starting Median Salary  \
 0                             Accounting             $46,000.00
 1                  Aerospace Engineering             $57,700.00
 2                            Agriculture             $42,600.00
 3                           Anthropology             $36,800.00
 4                           Architecture             $41,600.00
 5                            Art History             $35,800.00
 6                                Biology             $38,800.00
 7                    Business Management             $43,000.00
 8                   Chemical Engineering             $63,200.00
 9                              Chemistry             $42,600.00
 10                     Civil Engineering             $53,900.00
 11                        Communications             $38,100.00
 12                  Computer Engineering             $61,400.00
 13                      Computer Science             $55,900.00
 14                          Construction             $53,700.00
 15                      Criminal Justice             $35,000.00
 16                                 Drama             $35,900.00
 17                             Economics             $50,100.00
 18                             Education             $34,900.00
 19                Electrical Engineering             $60,900.00
 20                               English             $38,000.00
 21                                  Film             $37,900.00
 22                               Finance             $47,900.00
 23                              Forestry             $39,100.00
 24                             Geography             $41,200.00
 25                               Geology             $43,500.00
 26                        Graphic Design             $35,700.00
 27            Health Care Administration             $38,800.00
 28                               History             $39,200.00
 29                 Hospitality & Tourism             $37,800.00
 30                Industrial Engineering             $57,700.00
 31           Information Technology (IT)             $49,100.00
 32                       Interior Design             $36,100.00
 33               International Relations             $40,900.00
 34                            Journalism             $35,600.00
 35  Management Information Systems (MIS)             $49,200.00
 36                             Marketing             $40,800.00
 37                                  Math             $45,400.00
 38                Mechanical Engineering             $57,900.00
 39                                 Music             $35,900.00
 40                               Nursing             $54,200.00
 41                             Nutrition             $39,900.00
 42                            Philosophy             $39,900.00
 43                   Physician Assistant             $74,300.00
 44                               Physics             $50,300.00
 45                     Political Science             $40,800.00
 46                            Psychology             $35,900.00
 47                              Religion             $34,100.00
 48                             Sociology             $36,500.00
 49                               Spanish             $34,000.00

    Mid-Career Median Salary  \
 0                $77,100.00
 1               $101,000.00
 2                $71,900.00
 3                $61,500.00
 4                $76,800.00
 5                $64,900.00
 6                $64,800.00
 7                $72,100.00
 8               $107,000.00
 9                $79,900.00
 10               $90,500.00
 11               $70,000.00
 12              $105,000.00
 13               $95,500.00
 14               $88,900.00
 15               $56,300.00
 16               $56,900.00
 17               $98,600.00
 18               $52,000.00
 19              $103,000.00
 20               $64,700.00
 21               $68,500.00
 22               $88,300.00
 23               $62,600.00
 24               $65,500.00
 25               $79,500.00
 26               $59,800.00
 27               $60,600.00
 28               $71,000.00
 29               $57,500.00
 30               $94,700.00
 31               $74,800.00
 32               $53,200.00
 33               $80,900.00
 34               $66,700.00
 35               $82,300.00
 36               $79,600.00
 37               $92,400.00
 38               $93,600.00
 39               $55,000.00
 40               $67,000.00
 41               $55,300.00
 42               $81,200.00
 43               $91,700.00
 44               $97,300.00
 45               $78,200.00
 46               $60,400.00
 47               $52,000.00
 48               $58,200.00
 49               $53,100.00

     Percent change from Starting to Mid-Career Salary  \
 0                                                67.6
 1                                                75.0
 2                                                68.8
 3                                                67.1
 4                                                84.6
 5                                                81.3
 6                                                67.0
 7                                                67.7
 8                                                69.3
 9                                                87.6
 10                                               67.9
 11                                               83.7
 12                                               71.0
 13                                               70.8
 14                                               65.5
 15                                               60.9
 16                                               58.5
 17                                               96.8
 18                                               49.0
 19                                               69.1
 20                                               70.3
 21                                               80.7
 22                                               84.3
 23                                               60.1
 24                                               59.0
 25                                               82.8
 26                                               67.5
 27                                               56.2
 28                                               81.1
 29                                               52.1
 30                                               64.1
 31                                               52.3
 32                                               47.4
 33                                               97.8
 34                                               87.4
 35                                               67.3
 36                                               95.1
 37                                              103.5
 38                                               61.7
 39                                               53.2
 40                                               23.6
 41                                               38.6
 42                                              103.5
 43                                               23.4
 44                                               93.4
 45                                               91.7
 46                                               68.2
 47                                               52.5
 48                                               59.5
 49                                               56.2

    Mid-Career 10th Percentile Salary Mid-Career 25th Percentile Salary  \
 0                         $42,200.00                        $56,100.00
 1                         $64,300.00                        $82,100.00
 2                         $36,300.00                        $52,100.00
 3                         $33,800.00                        $45,500.00
 4                         $50,600.00                        $62,200.00
 5                         $28,800.00                        $42,200.00
 6                         $36,900.00                        $47,400.00
 7                         $38,800.00                        $51,500.00
 8                         $71,900.00                        $87,300.00
 9                         $45,300.00                        $60,700.00
 10                        $63,400.00                        $75,100.00
 11                        $37,500.00                        $49,700.00
 12                        $66,100.00                        $84,100.00
 13                        $56,000.00                        $74,900.00
 14                        $56,300.00                        $68,100.00
 15                        $32,200.00                        $41,600.00
 16                        $36,700.00                        $41,300.00
 17                        $50,600.00                        $70,600.00
 18                        $29,300.00                        $37,900.00
 19                        $69,300.00                        $83,800.00
 20                        $33,400.00                        $44,800.00
 21                        $33,900.00                        $45,500.00
 22                        $47,200.00                        $62,100.00
 23                        $41,000.00                        $49,300.00
 24                        $40,000.00                        $50,000.00
 25                        $45,000.00                        $59,600.00
 26                        $36,000.00                        $45,500.00
 27                        $34,600.00                        $45,600.00
 28                        $37,000.00                        $49,200.00
 29                        $35,500.00                        $43,600.00
 30                        $57,100.00                        $72,300.00
 31                        $44,500.00                        $56,700.00
 32                        $35,700.00                        $42,600.00
 33                        $38,200.00                        $56,000.00
 34                        $38,400.00                        $48,300.00
 35                        $45,300.00                        $60,500.00
 36                        $42,100.00                        $55,600.00
 37                        $45,200.00                        $64,200.00
 38                        $63,700.00                        $76,200.00
 39                        $26,700.00                        $40,200.00
 40                        $47,600.00                        $56,400.00
 41                        $33,900.00                        $44,500.00
 42                        $35,500.00                        $52,800.00
 43                        $66,400.00                        $75,200.00
 44                        $56,000.00                        $74,200.00
 45                        $41,200.00                        $55,300.00
 46                        $31,600.00                        $42,100.00
 47                        $29,700.00                        $36,500.00
 48                        $30,700.00                        $40,400.00
 49                        $31,000.00                        $40,000.00

    Mid-Career 75th Percentile Salary Mid-Career 90th Percentile Salary
 0                        $108,000.00                       $152,000.00
 1                        $127,000.00                       $161,000.00
 2                         $96,300.00                       $150,000.00
 3                         $89,300.00                       $138,000.00
 4                         $97,000.00                       $136,000.00
 5                         $87,400.00                       $125,000.00
 6                         $94,500.00                       $135,000.00
 7                        $102,000.00                       $147,000.00
 8                        $143,000.00                       $194,000.00
 9                        $108,000.00                       $148,000.00
 10                       $115,000.00                       $148,000.00
 11                        $98,800.00                       $143,000.00
 12                       $135,000.00                       $162,000.00
 13                       $122,000.00                       $154,000.00
 14                       $118,000.00                       $171,000.00
 15                        $80,700.00                       $107,000.00
 16                        $79,100.00                       $153,000.00
 17                       $145,000.00                       $210,000.00
 18                        $73,400.00                       $102,000.00
 19                       $130,000.00                       $168,000.00
 20                        $93,200.00                       $133,000.00
 21                       $100,000.00                       $136,000.00
 22                       $128,000.00                       $195,000.00
 23                        $78,200.00                       $111,000.00
 24                        $90,800.00                       $132,000.00
 25                       $101,000.00                       $156,000.00
 26                        $80,800.00                       $112,000.00
 27                        $78,800.00                       $101,000.00
 28                       $103,000.00                       $149,000.00
 29                        $81,900.00                       $124,000.00
 30                       $132,000.00                       $173,000.00
 31                        $96,700.00                       $129,000.00
 32                        $72,500.00                       $107,000.00
 33                       $111,000.00                       $157,000.00
 34                        $97,700.00                       $145,000.00
 35                       $108,000.00                       $146,000.00
 36                       $119,000.00                       $175,000.00
 37                       $128,000.00                       $183,000.00
 38                       $120,000.00                       $163,000.00
 39                        $88,000.00                       $134,000.00
 40                        $80,900.00                        $98,300.00
 41                        $70,500.00                        $99,200.00
 42                       $127,000.00                       $168,000.00
 43                       $108,000.00                       $124,000.00
 44                       $132,000.00                       $178,000.00
 45                       $114,000.00                       $168,000.00
 46                        $87,500.00                       $127,000.00
 47                        $70,900.00                        $96,400.00
 48                        $81,200.00                       $118,000.00
 49                        $76,800.00                        $96,400.00  ,
 1:                                            School Name  School Type  \
 0          Massachusetts Institute of Technology (MIT)  Engineering
 1             California Institute of Technology (CIT)  Engineering
 2                                  Harvey Mudd College  Engineering
 3         Polytechnic University of New York, Brooklyn  Engineering
 4                                         Cooper Union  Engineering
 5                Worcester Polytechnic Institute (WPI)  Engineering
 6                     Carnegie Mellon University (CMU)  Engineering
 7               Rensselaer Polytechnic Institute (RPI)  Engineering
 8                      Georgia Institute of Technology  Engineering
 9                             Colorado School of Mines  Engineering
 10                     Stevens Institute of Technology  Engineering
 11              Illinois Institute of Technology (IIT)  Engineering
 12                   Wentworth Institute of Technology  Engineering
 13   Virginia Polytechnic Institute and State Unive...  Engineering
 14           South Dakota School of Mines & Technology  Engineering
 15   New Mexico Institute of Mining and Technology ...  Engineering
 16             Rochester Institute of Technology (RIT)  Engineering
 17         Embry-Riddle Aeronautical University (ERAU)  Engineering
 18                  Tennessee Technological University  Engineering
 19   University of Illinois at Urbana-Champaign (UIUC)        Party
 20                University of Maryland, College Park        Party
 21      University of California, Santa Barbara (UCSB)        Party
 22                   University of Texas (UT) - Austin        Party
 23       State University of New York (SUNY) at Albany        Party
 24                          University of Florida (UF)        Party
 25                    Louisiana State University (LSU)        Party
 26                         University of Georgia (UGA)        Party
 27                 Pennsylvania State University (PSU)        Party
 28                      Arizona State University (ASU)        Party
 29                Indiana University (IU), Bloomington        Party
 ..                                                 ...          ...
 239          University of Alabama at Birmingham (UAB)        State
 240                     University of Memphis (U of M)        State
 241                       Boise State University (BSU)        State
 242                    Missouri State University (MSU)        State
 243           University of Wisconsin (UW) - La Crosse        State
 244                       Appalachian State University        State
 245             Virginia Commonwealth University (VCU)        State
 246               University of Wisconsin (UW) - Stout        State
 247                     East Carolina University (ECU)        State
 248                          Utah Valley State College        State
 249          University of Missouri - St. Louis (UMSL)        State
 250                        Western Carolina University        State
 251             University of Wisconsin (UW) - Oshkosh        State
 252    State University of New York (SUNY) at Fredonia        State
 253        University of Missouri - Kansas City (UMKC)        State
 254          University of Wisconsin (UW) - Eau Claire        State
 255                        Ball State University (BSU)        State
 256  University of North Carolina at Wilmington (UNCW)        State
 257       University of Wisconsin (UW) - Stevens Point        State
 258                       University of Southern Maine        State
 259                    Arkansas State University (ASU)        State
 260                              Kent State University        State
 261                    Tarleton State University (TSU)        State
 262           University of Wisconsin (UW) - Green Bay        State
 263                          Morehead State University        State
 264                       Austin Peay State University        State
 265                         Pittsburg State University        State
 266                           Southern Utah University        State
 267                Montana State University - Billings        State
 268                       Black Hills State University        State

     Starting Median Salary Mid-Career Median Salary  \
 0               $72,200.00              $126,000.00
 1               $75,500.00              $123,000.00
 2               $71,800.00              $122,000.00
 3               $62,400.00              $114,000.00
 4               $62,200.00              $114,000.00
 5               $61,000.00              $114,000.00
 6               $61,800.00              $111,000.00
 7               $61,100.00              $110,000.00
 8               $58,300.00              $106,000.00
 9               $58,100.00              $106,000.00
 10              $60,600.00              $105,000.00
 11              $56,000.00               $97,800.00
 12              $53,000.00               $96,700.00

In [29]:
dfs[0]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

###### Pracujemy na pierwszej ramce danych: dfs[0]

###### 4. Widzimy, że nazwy kolumn są słabe do adresowania - zmień nazwy kolumn na następujące:

* Undergraduate Major -> major
* Starting Median Salary -> bgn_p50
* Mid-Career Median Salary -> mid_p50
* Percent change from Starting to Mid-Career Salary -> ch_bgn_mid
* Mid-Career 10th Percentile Salary -> mid_p10
* Mid-Career 25th Percentile Salary -> mid_p25
* Mid-Career 75th Percentile Salary -> mid_p75
* Mid-Career 90th Percentile Salary -> mid_p90

In [ ]:
#str.replace( old, new)
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
#trzeba inaczej 

#zamiana dolara na nic

###### 5. Policz średnią dla każdej kolumny z zarobkami. Co trzeba zrobić, żeby móc wykonać tę operację? Stwórz listę ze średnimi.

###### 6. Wyświetl podstawowe statystyki opisowe dla całej ramki danych.

###### 7. Trwale posortuj wartości malejąco według kolumny bgn_p50

###### 8. Widzimy, że nasze indeksy się nieco rozleciały - zresetuj je tak, żeby Physician Assistand -> 0, Chem. Engineering -> 1 itd. 
###### Uwaga: nie chcemy żeby stare numery indeksów zostały dodane do ramki danych.

###### 9.Stwórz przy pomocy matplotlib wykres rozrzutu (scatterplot) zgodnie z wytycznymi:
* oś x: indeksy
* wartości osi x: indeksy
* opis osi x: 'Major'
* oś y: mediana zarobków na początku kariery
* wartości osi y: jw
* opis osi y: 'US Dollars'
* tytuł: 'Starting Median Salary by Major'
* kolor obserwacji: zielony
* legenda: 'Starting Median Salary'

In [28]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [34]:
df = dfs[0]

plt.scatter(df.loc[:,0:1], df['Starting Median Salary'], color = 'green')
plt.xscale('log')
xlab = 'Major'
ylab = 'US Dollars'
title = 'Starting Median Salary by Major'
x_skala_wartosci = [100, 1000, 10000, 100000]
x_skala_opis = ['Sto', '1 tysiąc', '10 tysięcy', '100 tysięcy']
plt.xticks(x_skala_wartosci, x_skala_opis)
y_skala_wartosci = [100, 1000, 10000, 100000]
y_skala_opis = ['Sto', '1 tysiąc', '10 tysięcy', '100 tysięcy']
plt.yticks(y_skala_wartosci, y_skala_opis)
plt.xlabel(xlab)
plt.ylabel(ylab)
plt.title(title)
plt.legend()
plt.show()

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

###### 10. Tak jak powyżej, ale zamiast indeksów dodaj nazwy kierunków na osi x. Obróć nazwy pionowo.

###### 11. Jak wyżej, ale pozamieniaj miejscami zmienne

###### 12. Jak wyżej, ale odwróć wykres tak, żeby wartości były posegregowane rosnąco.

###### 13. Wykres piękny acz mało czytelny. Stwórz wykres podobny jak powyżej, ale zwiększ jego rozmiary tak, żeby nieco zwiększyć jego czytelność. Przesuń legendę w lewy górny róg.

###### 14. Stwórz wykres, który zestawi medianę zarobków na początku kariery z medianą w połowie kariery

###### 15. Stwórz analogiczny wykres, tym razem posegregowany według wysokości zarobków w połowie kariery zawodowej.

###### 16. Stwórz podobny wykres, który pokaże tym razem zarobki w połowie kariery zawodowej:
* pokaż zarobki dla 25, 50 i 75 percentyla
* posegreguj według mediany (inaczej 50 percentyla)

###### 17. Analogicznie, tym razem z uwzględnieniem 10%, 25%, 50%, 75% oraz 90%.

###### 18. Zapisz wykres do pliku 'wykres.png' - 300 dpi. Uwaga - zwróć uwagę czy wykres nie jest przycięty!

In [ ]:
fig = plt.figure()
#plt.scatter(...)
fig.savefig('wykres.png') #300dpi
plt.show()